html,
body {
	margin: auto;
	padding: 0;
	height: 100%;
	width: 100%;
	font: 12px "Karla" Arial Sans-Serif;
	background-color: #0E0E0E;
	color: white;
	/*text-transform: uppercase*/
}

.k-menu .k-item>.k-link {
	line-height: 2.34em;
	text-transform: uppercase;
}

.overview {
	text-align: center;
	margin: 10px 0px;
	padding: 10px 5px;
	/*max-width: 960px;*/
}

.chart-wrapper {
	margin: 5px;
	padding: 5px;
	width: auto;
	/*max-width: 960px;*/
}

.stat{
	margin: 6px;
	border: 1px solid #333;
	width: 20%;
	display: inline-block;
	text-align: center;
	color: lightgrey;
}

.stat h1 {
	font-size: 1.2em;
	text-transform: uppercase;
}

.stat h2 {
	font-size: 1em;
}

.stat p {
	font-size: 3.5em;
	color: white;
	margin: 10%;
}

.unit {
	font-size: 0.7em;
}

.stat a {
	width: 100%;
	height: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
}

.stat a:hover{
	background-color: #7B80A8;
}

/*.network div {
	width: 100%;
	height: 250px;
	/*padding: 10px;
	display: inline-block;
}*/

#chartResponse,
#chartHTTP,
#chartBandwidth,
#chartMemory,
#chartCPU {
	height: 200px;
	/*width: 900px;*/
	margin: 5px 0;
}


#chartRoutes,
#chartRoutes2 {
	width: 49%;
	display: inline-block;
}

/*#chartResponse.k-chart svg g g g g g g path,
#chartMemory.k-chart svg g g g g g path,
#chartHTTP.k-chart svg g g g g g g g path {
	fill: #07B794;
	stroke: #07B794;
}
*/

#chartRoutes g g g path,
#chartRoutes2 g g g path {
	fill: #7B80A8;
	stroke: #7B80A8;
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
}

div#chartRoutes.k-chart svg g g g text {
	font: 1em Sans-Serif;
}

/*.process div {
	width: 100%;
	height: 250px;
	display: block;
}*/

#tabstrip {
	margin: 50px 0;
}

#gridRoutes {
	margin: 0px 0px 50px 0px;
}

circle {
	display: none !important;
}

.k-state-hover {
	background-color: white;
}

@media screen and (max-width: 800px) {
	.stat p {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 600px) {
	.stat {
		margin: 0;
		padding: 0;
		height: 96px;
		display: inline-block;
		text-align: center;
	}

	.stat p {
		font-size: 1.5em;
	}

	.stat h1 {
		font-size: .95em;
	}
}

@media screen and (max-width: 450px) {
	.stat {
		height: 80px;
		width: 23%;
		display: inline-block;
	}

	.stat p {
		font-size: 1.5em;
	}

	.stat h1 {
		font-size: .6em;
	}

	.stat h2 {
		font-size: .5em;
	}
/*
	#chartResponse,
	#chartHTTP,
	#chartBandwidth,
	#chartMemory,
	#chartCPU {
		height: 400px;
		margin: 5px 0;
	}*/
}
